@font-face {
    font-family: 'Poiret One';
    src: url('/fonts/PoiretOne-Regular.ttf');
}

@font-face {
    font-family: 'Fallout Info';
    src: url('/fonts/fallout.ttf');
}

@font-face {
    font-family: 'Bootons';
    src: url('/fonts/Bootons.ttf');
}
