/* --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- */
/* General Styles */

* { margin: 0; padding: 0; }
body { scroll-behavior: smooth; min-height: 100vh; }
input:focus, button:focus { outline: none; }


.player {
    font-family: 'Bootons', sans-serif;
    position: fixed;
    bottom: 0;
    right: 0;
    color: #3CF800;
    font-size: 2rem;
}
        
.player button:focus { outline: 0; }
        
.player button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: 0;
    margin: 0;
    padding: 0;
    border: 0;
    margin-right: 8px;
    margin-bottom: 4px;
    transition: all 0.5s ease;
    cursor: pointer;
}

/* --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- */
/* Custom Styles */

* { cursor: url("../i/gui/cursor.png"), auto !important; }

.fF { color: #3CF800; font-family: "Fallout Info"; }
#chat_input:hover::placeholder { color: white; }



/* Chrome, Firefox, Opera, Safari 10.1+ */
:hover::placeholder { color: #000; opacity: 1; /* Firefox */ }
/* Internet Explorer 10-11 */
:hover:-ms-input-placeholder { color: #000; }
/* Microsoft Edge */
:hover::-ms-input-placeholder { color: #000; }



#game { padding-left: 0; padding-right: 0; width: 640px; margin: 0 auto; }

#win_character {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    background: #111;
    border-radius: 16px 32px;
    padding: 16px;
    color: #2B2;
    line-height: 0.3em;
}

#win_special { text-align: right; }

@media( max-width: 576px ){
    #menu_top { margin-right: 0; }
    #menu_top button { font-size: 0.5rem; }
}

.stroke {
    text-shadow:
        3px 3px 0 #000,
        2px 2px 0 #000,
        1px 1px 0 #000,
        -1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
    font-size: 2rem;
}

body { background-color: #222; }

/* --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- */
/* GUI */

.bottom {
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100%;
}

.gui { font-family: "Fallout Info"; }

#confirm_yes, #confirm_no, #alert_done {
    background: 0;
    padding: 8px;
    border-radius: 50%;
    border: 0;
    margin-left: 50px;
}

#confirm_no { margin-left: 116px; }

#confirm, #alert {    
    width: 302px;
    height: 127px;    
    display: inline-block;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -63.5px;
    margin-left: -151px;
    color: #FC9C48;    
}

#confirm { background: url('../i/gui/confirm.png'); }
#alert { background: url('../i/gui/alert.png'); }
#alert_done { margin-left: 110px; }

.confirm_message, .alert_message { margin: 24px 32px 12px; line-height: 10px; height: 58px; overflow-y: auto; text-align: center; word-break: break-word; }

#main {
    width: 800px;
    height: 100px;
    background: url("../i/gui/gui_main.png");
    display: inline-block;
    position: fixed;
    left: 50%;
    bottom: 0;
    margin-left: -400px;    
}

#chatbox { width: 318px; height: 60px; margin: 24px 0 0 28px; overflow-y: scroll; display: inline-block; }
#win_chat { position: absolute; bottom: 0; background: #222; width: 100%; }

.chat_message {
    font-family: "Fallout Info", "Courier New", sans-serif;
    color: #3CF800;
    line-height: 10px;
    word-break: break-word;
}

#chatControls {
    position: fixed;
    width: 800px;
    margin-left: -400px;
    bottom: 104px;
    left: 50%;
    height: 26px;
}

#chat_input {
    width: 100%;
    position: absolute;
    border-radius: 16px;
    background: 0;
    border: 1px solid #3CF800;
    padding-left: 16px;
    box-sizing: border-box;
}

#chat_send {
    background: 0;
    border-radius: 16px;
    position: absolute;
    right: 0;
    border: 1px solid #3CF800;
    padding: 0 16px;
    transition: 0.25s all ease;
}

#chat_send:hover {
    background: #3CF800;
    color: #000;
}


.gui_button { position: absolute; border: 0; opacity: 0; }
.gui_button:hover { opacity: 1; }


#button_swap {
    background: url('../i/gui/gui_button_red.png');
    width: 32px;
    height: 31px;
    left: 373px;
    top: 1px;
}

#button_skilldex {
    background: url('../i/gui/gui_button_red.png');
    width: 32px;
    height: 31px;
    left: 678px;
    top: 1px;
}

#button_inv {
    background: url('../i/gui/button_inv.png');
    width: 32px;
    height: 22px;
    left: 371px;
    top: 40px;
}

#button_options {
    background: url('../i/gui/button_options.png');
    width: 34px;
    height: 34px;
    left: 371px;
    top: 62px;
}

#button_map {
    background: url('../i/gui/button_map.png');
    width: 40px;
    height: 20px;
    left: 686px;
    top: 39px;
}

#button_cha {
    background: url('../i/gui/button_cha.png');
    width: 40px;
    height: 20px;
    left: 686px;
    top: 59px;
}

#button_pip {
    background: url('../i/gui/button_pip.png');
    width: 40px;
    height: 20px;
    left: 686px;
    top: 78px;
}

#inventory {
    background: url('../i/gui/inventory.png');
    width: 499px;
    height: 377px;
    position: fixed;
    top: 20%;
    left: 50%;
    margin-left: -245px;
    display: none;
}

#character {
    background: url('../i/gui/character.png');
    width: 640px;
    height: 480px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -240px;
    margin-left: -320px;
    display: none;
}

.player {
    font-family: 'Bootons', sans-serif;
    position: fixed;
    bottom: 0;
    right: 0;
    color: #3CF800;
    font-size: 2rem;
}

::-webkit-scrollbar { width: 10px; border: 1px solid #3CF800; border-radius: 6px; }
::-webkit-scrollbar-thumb { background: #3CF800; border-radius: 6px; }

#confirm ::-webkit-scrollbar, #alert ::-webkit-scrollbar {  border: 1px solid #FC9C48; }
#confirm ::-webkit-scrollbar-thumb, #alert ::-webkit-scrollbar-thumb { background: #FC9C48; }

/* --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- */
/* Backward compatability for HTML5 elements */

header, section, footer, aside, nav, main, article, figure { display: block;  }